* {
  /*border-style: solid;*/
  font-family: 'Open Sans', sans-serif;

}
.container{
  width: 84%;
  margin-left: 8%;
}
ul::before{
	content: '';
	position: absolute;
	width: 10px;
  height: 140em;
	background: #afdcf8;
	margin-left: 20%;
}
.fa-battery-quarter{
  /*position: absolute;*/
  background-color: #3594cb;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  border-color: #afdcf8;
  border-width: 10px;
  border-style: solid;
  color: white;
  vertical-align: top;
}
/*.oddArrow-left{
  width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid #6cbfee;
  display: inline-block;
}*/
ul li {
  list-style: none;
}
.dateTime{
  display: inline-block;
  width: 21%;
  margin-left: 1em;
  vertical-align: top;
}
.date {
  text-align: right;
  margin-top: -.2em;
  font-size: .9em;
  color: #bdd0db;
}
.time {
  text-align: right;
  margin-top: -10%;
  font-size: 2.9em;
  color: #6cbfee;
}
.evenTime {
  text-align: right;
  margin-top: -10%;
  font-size: 2.9em;
  color: #3594cb;
}
.oddEntry{
  display: inline-block;
  padding: 1em;
  margin: 0 1em 2em 1em;
  width: 61%;
  background-color: #6cbfee;
  color: white;
  border-radius: .5em;
  vertical-align: top;
}
.evenEntry{
  display: inline-block;
  padding: 1em;
  margin: 0 1em 2em 1em;
  width: 61%;
  background-color: #3594cb;
  color: white;
  border-radius: .5em;
  vertical-align: top;
}
.entryTitle {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: .5em;
}
.blogBody{
  font-size: 1.2 em;
}
