/*CLASS CONTAINERS*/
* {
  border-style: solid;
}
.container{
  width: 84%;
  margin-left: 8%;
}
ul li {
  list-style: none;
}
.dateTime{
  display: inline-block;
  width: 21%;
  margin-left: 1em;
  border-radius: 1em;
}
.date {
  text-align: right;
}
.time {
  text-align: right;
}
.fa fa-battery-quarter::before{
  background-color: #3594cb;
  width: 3em;
  height: 3em;
  border-radius: 3em;
}
.oddEntry{
  display: inline-block;
  padding: 1em;
  margin: 1em;
  width: 63%;
  background-color: #6cbfee;
  color: white;
  border-radius: 1em;
}
.entryTitle {
  border-bottom-style: solid;
  padding-bottom: .5em;
}

/*ID CONTAINERS*/


/*OTHER CONTAINERS*/
