/*CLASS CONTAINERS*/
* {
  /*border-style: solid;*/
}
.container{
  width: 84%;
  margin-left: 8%;
}
.fa-battery-quarter{
  background-color: #3594cb;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  border-color: #afdcf8;
  border-width: 10px;
  border-style: solid;
  color: white;
  vertical-align: top;
}
ul::before{
	content: '';
	position: absolute;
	width: 10px;
  height: 100%;
	background: #afdcf8;
	margin-left: 20%;
}

ul li {
  list-style: none;
}
.dateTime{
  display: inline-block;
  width: 21%;
  margin-left: 1em;
  vertical-align: top;
}
.date {
  text-align: right;
  margin-top: -.3em;
}
.time {
  text-align: right;
  margin-top: -10%;
}
.oddEntry{
  display: inline-block;
  padding: 1em;
  margin: 0 1em 2em 1em;
  width: 63%;
  background-color: #6cbfee;
  color: white;
  border-radius: 1em;
}
.entryTitle {
  border-bottom-style: solid;
  padding-bottom: .5em;
}

/*ID CONTAINERS*/


/*OTHER CONTAINERS*/
